<h2><%= l(:label_import_result) %></h2>
<% unless @affect_projects_issues.nil? %>
<p><b><%= l(:label_result_projects) %></b><br/>
<% @affect_projects_issues.each do |project, count|%>
<label class="tabular2"><%= project %>:</label><label class="tabular2"><%= l(:label_result_issues, count )%></label><br/>
<% end %></p>
<hr/>

<%= l(:label_result_failed, @failed_count )%>
<% unless @failed_count==0  %>
<table class="list">
    <thead>
      <tr>
    	<th><%= l(:text_subject) %></th>
        <th><%= l(:text_type) %></th>
      </tr>
    </thead>
	<tbody>
        <% @failed_issues.each do |item| %>
          <tr>
            <td><%= item.title %></td>
            <td><%= item.type %></td>
          </tr>
	<% end %>
        </tbody>
</table>
<% end %>
<%end%>

